  <h2 class="display-4">Welcome to Take a Hike</h2>
    <p class="lead">The app that encourages you to get outside, and explore the outdoors.</p>
 

 
 
 

  <br>  
    <br> 
      <br> 


 <div class="container-fluid bg-1 text-center">
  <h3>Who Are We?</h3>
  <h3>A team of adventure seekers who need to be outside. </h3>
</div>

<div class="container-fluid bg-2 text-center">
  <h3>Who Are We For?</h3>
  <p>For anyone that has a love for the outdoors, and a thirst for being adventerous. </p>
  
</div>

<div class="container-fluid bg-3 text-center">    
  <h3>We Do We Do?</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Keep track of your hikes.</p>
      <img src="https://images.unsplash.com/photo-1523818930026-2486e1878ce2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1091&q=80" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Review Hikes.</p>
      <img src="https://images.unsplash.com/photo-1585909695284-32d2985ac9c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>View Hikes from friends and others.</p>
      <img src="https://images.unsplash.com/photo-1501555088652-021faa106b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div>
