<h1>Welcome!</h1>

 <h3><%= link_to "Sign Up", new_user_path %></h3><br />
 <h3>Already have an account? <%= link_to "Login", "/login"%> here or sign up with <%= link_to('Facebook', '/auth/facebook') %>.</h3>
 