<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Welcome to Take a Hike</h2>
    <p class="lead">The app that encourages you to get outside, and explore the outdoors.</p>
  </div>
</div>

 <h3><%= link_to "Sign Up", new_user_path %></h3><br />
 <h3>Already have an account? <%= link_to "Login", "/login"%> here or sign up with <%= link_to('Facebook', '/auth/facebook') %>.</h3>
 