/* <---- nav bar ----> */

.navbar { 
    background:#27AE60;
  }
  
  .nav-link , .navbar-brand { 
    color: #f4f4f4; cursor: pointer;
  }
  
  .nav-link { 
    margin-right: 1em !important;
  }
  
  .nav-item h5 {
    color: #1e380e;
    padding-top: 15px; 
    padding-right: 25px;
  }
  
  .nav-item a {
    padding-right: 15px;
  }
  
  .nav-link:hover { 
    background: #f4f4f4; color: #58D68D; 
  }
  
  .navbar-collapse { 
    justify-content: flex-end;
  }
  
  .navbar-toggler {  
    background:#fff !important;
  }
  
  .bg-dark { 
    background-color:#343a40!important;
  }
  
  /* <---- header style ----> */
  
  .header {
    background-image: url('../images/hike.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }
  
   .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
   }
  
   .description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
  }
  .description h1 {
    color:#27AE60 ;
  }
  
  .description p {
    color:#666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
  }
  
  .description button {
    border:1px  solid #27AE60;
    background:#27AE60;
    color:#fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  /* <---- body style ----> */
  
  body { 
    padding-top: 65px; 
  }
  
  @media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
  }
  
  /* <---- comment style ---->*/
  
  .comment {
    border: 1px solid green;
    padding: 10px;
  }
  
  /* <---- form style ----> */
  
  .field_with_errors input[type='text']{
    border: 1px solid red;
  }